rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    match /users/{uid}/performances/{performanceId}/{fileName} {
      allow read, write:
        if signedIn()
        && request.auth.uid == uid
        && request.resource.size < 10 * 1024 * 1024
        && (
          request.resource.contentType.matches('image/.*')
          || request.resource.contentType == 'application/pdf'
        );
    }

    match /users/{uid}/performances/{performanceId}/gallery/{fileName} {
      allow read, write:
        if signedIn()
        && request.auth.uid == uid
        && request.resource.size < 10 * 1024 * 1024
        && (
          request.resource.contentType.matches('image/.*')
          || request.resource.contentType == 'application/pdf'
        );
    }
  }
}
